.contacts {
  position: relative;
}

.contacts__wrapper {
  padding: 28px 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: @desktop) {
    position: absolute;
    left: 7.64%;
    right: 52.78%;
    top: 23.75%;
    bottom: 26%;
    background: @basic-white;
  }
}

.contacts__slogan {
  .size(16px, 18px);
  text-transform: uppercase;
}

.contacts__adress {
  .text(14px,20px);
}

.contacts__map {
  width: 100%;
}
