.contacts__wrapper {
  padding: 28px 0;
  background: @basic-grey;
}

.contacts__slogan {
  .size(16px, 18px);
  text-transform: uppercase;
}

.contacts__adress {
  .text(14px,20px);
}

.contacts__map {
  width: 100%;
}
