.program .container {
  padding: 0 69px;
}

.program__title {
  margin-top: 27px;
}

.program__text {
  margin-top: 37px;
  .size(14px, 18px);
}

.program-form {
  margin-top: 39px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
}

.program-form__column-wrapper {
  @media (min-width: @desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.program-form__column {
  width: 568px;
}

.program-form__group {
  border: 0;
  padding: 0;
}

.program-form__item {
  display: flex;
  align-items: center;
}

.program-form__input,
.program-form__label,
.program-form_textarea {
  text-transform: uppercase;
}

.program-form__input,
.program-form_textarea {
  width: 100%;
  border: 1px solid @special-border-form;
}

.program-form__legend {
  .size(24px, 26px);
  color: @basic-black;
}

.program-form__radio-label {
  color: @special-dark-grey-2;
}

.program-form__radio-list,
.program-form__checkbox-list {
  padding: 0;
  list-style: none;
}

.program-form__checkbox-list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
  }

  @media (min-width: @desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.program-form__checkbox-label {
  color: @basic-black;
  text-transform: uppercase;
}

.program-form__button-wrapper {
  display: flex;
  align-items: center;
}

.program-form__button {
  border: none;
}

.program-form__small-legend small {
  .size(14px, 16px);
  color: @basic-black;
}
